---
title: Demo of Clearance for Authentication
---
* This is a step by step demo clearance.
* Starting with Rails New we adding Clearance
* Authenticate with a username and a password.
* Clearance is pretty simple but doesn't support some of the complicated options
of Devise.
* We then show some steps to customize things.
* Clearance is new so I can't vouch for it. You can read the doc here: [Clearance](https://github.com/thoughtbot/clearance).

#### Step by step

* `$ rails new clearancedemo`
* `$ cd clearancedemo`
* Add to gemfile:
<%= code_begin %>
`gem 'clearance'`
`gem 'pry-byebug'`
`gem 'better_errors'`
`gem 'minitest-rails'`
<%= code_end %>

* `$ rails generate clearance:install`
* Add this to config/environments/{development,test}.rb:
  `config.action_mailer.default_url_options = { host: 'localhost:3000' }`

$ `rails generate scaffold course name:string number:string`

* `Add this to CoursesCOntroller`

<%= code_begin %>
class CoursesController < ApplicationController
  before_action :require_login
  ...
<%= code_end %>

* `$ rake db:migrate`
* `$ rails server`

#### Questions
* Ok it seems like it works
* How do I get a logout link?
* They suggest to override routing

#### Step by step, continued
* `$ rails generate clearance:routes`
* In routes.rb: Change logout route to be a get not a delete
* Update Clearance.configuration.redirect_url to `courses`
* Add logout to layout: `<%%= link_to "logout", sign_out_path %>`

#### Questions
* Where is the login html?
* Reading the documentation

#### Step by step, continued
* create views: `$ rails generate clearance:views`
* Modify the new session view

#### Questions
* I want anyone to be able to list
* Only loggged in to be able to add a course

#### Step by step
* Modify the courses controller adding:
```
if signed_in?
  @course = Course.new
else
  render action: :not_allowed
end
```
* Add not_allowed.md.erb

<%= code_begin %>
<h1>Sorry, you can't do that!</h1>
<%%= link_to "course listing", courses_path %>
<%= code_end %>

#### Conclusion
* Pretty straightforward
* More controllable than Devise
* More research needed to figure out how to add OAUTH, Twitter, FB etc.
